In [1]:
from sqlalchemy import create_engine, text

In [2]:
# windows
# base_folder = ! cd
# linux
base_folder = ! pwd

base_folder = base_folder[0]
base_folder

'/Users/julian/Documents/repos/SQL'

In [3]:
database_path = f'sqlite:///{base_folder}/data/sqlite3/test.db'
engine = create_engine(database_path)

In [4]:
conn = engine.connect()

# Sin ORM

In [5]:
for e in conn.execute(
    text(
        "SELECT id, name, address, salary from COMPANY"
    )
):
    print(e)

(5, 'Paul', 'California', 20000.0)
(7, 'Teddy', 'Norway', 20000.0)
(8, 'Mark', 'Rich-Mond ', 65000.0)

# Creacion de tabla

In [5]:
from sqlalchemy import (create_engine, Table, Column, Integer, 
    String, MetaData)
    
meta = MetaData()
cars = Table('Cars', meta,
     Column('Id', Integer, primary_key=True),
     Column('Name', String),
     Column('Price', Integer)
)

In [6]:
cars

Table('Cars', MetaData(), Column('Id', Integer(), table=<Cars>, primary_key=True, nullable=False), Column('Name', String(), table=<Cars>), Column('Price', Integer(), table=<Cars>), schema=None)

In [7]:
list(cars.c)

[Column('Id', Integer(), table=<Cars>, primary_key=True, nullable=False),
 Column('Name', String(), table=<Cars>),
 Column('Price', Integer(), table=<Cars>)]

In [8]:
cars.primary_key

PrimaryKeyConstraint(Column('Id', Integer(), table=<Cars>, primary_key=True, nullable=False))

In [9]:
meta.create_all(engine)

# Inserts

In [10]:
data = ( { "Id": 1, "Name": "Audi", "Price": 52642 },
         { "Id": 2, "Name": "Mercedes", "Price": 57127 },
         { "Id": 3, "Name": "Skoda", "Price": 9000 },
         { "Id": 4, "Name": "Volvo", "Price": 29000 },
         { "Id": 5, "Name": "Bentley", "Price": 350000 },
         { "Id": 6, "Name": "Citroen", "Price": 21000 },
         { "Id": 7, "Name": "Hummer", "Price": 41400 },
         { "Id": 8, "Name": "Volkswagen", "Price": 21600 })

In [11]:
ins = cars.insert()
str(ins)

'INSERT INTO "Cars" ("Id", "Name", "Price") VALUES (:Id, :Name, :Price)'

In [12]:
for line in data:
    ins = cars.insert().values(**line)
    conn.execute(ins)

In [14]:
conn.commit()

In [13]:
for e in conn.execute(text("SELECT id, Name, Price from Cars")):
    print(e)

(1, 'Audi', 52642)
(2, 'Mercedes', 57127)
(3, 'Skoda', 9000)
(4, 'Volvo', 29000)
(5, 'Bentley', 350000)
(6, 'Citroen', 21000)
(7, 'Hummer', 41400)
(8, 'Volkswagen', 21600)

# Select

In [17]:
from sqlalchemy.sql import select    
from sqlalchemy.sql import text

In [18]:
for c in conn.execute(cars.select()):
    print(c)

(1, 'Audi', 52642)
(2, 'Mercedes', 57127)
(3, 'Skoda', 9000)
(4, 'Volvo', 29000)
(5, 'Bentley', 350000)
(6, 'Citroen', 21000)
(7, 'Hummer', 41400)
(8, 'Volkswagen', 21600)

In [25]:
for c in conn.execute(cars.select().where(cars.c.Price > 30000)):
    print(c)

(1, 'Audi', 52642)
(2, 'Mercedes', 57127)
(5, 'Bentley', 350000)
(7, 'Hummer', 41400)