### Instalación sin docker
* En mac

```console
brew tap mongodb/brew
brew install mongodb-community
brew services start mongodb/brew/mongodb-community
```

* En ubuntu
https://hevodata.com/blog/install-mongodb-on-ubuntu/

* En windows
https://docs.mongodb.com/manual/tutorial/install-mongodb-on-windows/

### Instalación con docker


```console
docker pull mongo
docker run -v /Users/julian/Documents/repos/SQL/data/mongo:/data/db -p 27017:27017 mongo
```

## Ejemplos de prueba Mongo dB

In [1]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27018/")

db_name = 'db_test'
mydb = myclient[db_name]

In [2]:
myclient.drop_database(db_name)

In [3]:
print(myclient.list_database_names())

['admin', 'config', 'local']

In [4]:
print(mydb.list_collection_names())

[]

In [5]:
mydict = {
    "name": "John",
    "address": "Highway 37",
    "age": 33
}

In [6]:
# No estructurada
mydb.user.insert_one(mydict)

InsertOneResult(ObjectId('671e82ee9a4fb1e9960d1ded'), acknowledged=True)

In [7]:
print(mydb.list_collection_names())

['user']

In [8]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"},
    { "name": "Viola", "address": "S"}
]

x = mydb.user.insert_many(mylist)

In [9]:
mydb.user.count_documents({})

14

In [10]:
for u in mydb.user.find():
    print(u)

{'_id': ObjectId('671e82ee9a4fb1e9960d1ded'), 'name': 'John', 'address': 'Highway 37', 'age': 33}
{'_id': ObjectId('671e83309a4fb1e9960d1dee'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('671e83309a4fb1e9960d1def'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('671e83309a4fb1e9960d1df0'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('671e83309a4fb1e9960d1df1'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('671e83309a4fb1e9960d1df2'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('671e83309a4fb1e9960d1df3'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('671e83309a4fb1e9960d1df4'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('671e83309a4fb1e9960d1df5'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('671e83309a4fb1e9960d1df6'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('671e83309a4fb1e9960d1df7'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('671e83309a4fb1e9960d1df8'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('671e83309a4fb1e9960d1df9'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('671e83309a4fb1e9960d1dfa'), 'name': 'Viola', 'address': 'S'}

In [11]:
for u in mydb.user.find({'name': 'Amy'}):
    print(u)

{'_id': ObjectId('671e83309a4fb1e9960d1dee'), 'name': 'Amy', 'address': 'Apple st 652'}

In [12]:
for u in mydb.user.find({}, { "_id": False, "address": False}):
    print(u)

{'name': 'John', 'age': 33}
{'name': 'Amy'}
{'name': 'Hannah'}
{'name': 'Michael'}
{'name': 'Sandy'}
{'name': 'Betty'}
{'name': 'Richard'}
{'name': 'Susan'}
{'name': 'Vicky'}
{'name': 'Ben'}
{'name': 'William'}
{'name': 'Chuck'}
{'name': 'Viola'}
{'name': 'Viola'}

In [13]:
myquery = { "address": { "$gte": "S" } }

mydoc = mydb.user.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('671e83309a4fb1e9960d1df0'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('671e83309a4fb1e9960d1df3'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('671e83309a4fb1e9960d1df5'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('671e83309a4fb1e9960d1df9'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('671e83309a4fb1e9960d1dfa'), 'name': 'Viola', 'address': 'S'}